body {
    background-color: #87CEEB;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.login-box h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-box form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    font-size: 16px;
}

.login-box form button {
    background-color: #87CEEB;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box form button:hover {
    background-color: #6495ED;
}

.signup-link {
    font-size: 14px;
    margin-top: 10px;
}

.signup-link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
