<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
</head>

<body>
    <h1>Noticias urgentes</h1>
    <div class="fiap-noticias-noticia-content">
        <p>Inovação e criatividade. Estas foram as palavras de ordem em todas as startups apresentadas neste sábado, 16
            de setembro, do <a href="https://www.fiap.com.br/mba/startupone/">Startup One dos MBAs</a> da <a
                href="https://www.fiap.com.br/mba">FIAP</a>. Foram mais de 1.700 horas de mentoria e o resultado foram
            dez startups que fizeram seu <em>pitch</em> para uma seleta banca que teve a missão de decidir quem levaria
            o prêmio de bolsa integral no melhor curso de empreendedorismo do mundo, ministrado no <a
                href="https://www.babson.edu/academics/academic-divisions/entrepreneurship/">Babson College (Boston,
                EUA).</a></p>
        <p>O Startup One existe desde 2013, com mais de quatro mil planos de negócios apresentados. Trata-se do trabalho
            de conclusão de cursos da FIAP, onde estudantes de graduação e de MBA criam sua própria startup, colocando
            em prática o conhecimento técnico de cada curso.</p>
        <p>Com a participação de familiares, amigos e professores, as dez melhores startups foram apresentadas para a
            banca composta por:&nbsp;<a href="https://www.linkedin.com/in/brunokatayama/?originalSubdomain=br"
                target="_blank" rel="noopener">Bruno Katayama, </a>Growth Equity Investor;&nbsp;<a
                href="https://www.linkedin.com/in/franklinribeiro/?originalSubdomain=br" target="_blank"
                rel="noopener">Franklin Ribeiro,</a> Head Startup Ecosystem;&nbsp;<a
                href="https://www.linkedin.com/in/guilherme-skaf-amorim-b7a0012a/?originalSubdomain=br" target="_blank"
                rel="noopener">Guilherme Amorim</a>, Head de Inovação na <a href="https://br.wayra.com/" target="_blank"
                rel="noopener">Wayra&nbsp;Brasil</a>; <a
                href="https://www.linkedin.com/in/ingridbarth/?originalSubdomain=br" target="_blank"
                rel="noopener">Ingrid Barth, </a>Founder &amp; COO na <a href="https://linker.com.br/" target="_blank"
                rel="noopener">Linker</a>, e <a
                href="https://www.linkedin.com/in/jaana-goeggel-769175/?originalSubdomain=br" target="_blank"
                rel="noopener">Jaana Goeggel, </a>founding partner da <a href="https://www.sororite.online/"
                target="_blank" rel="noopener">Sororitê</a>. A ordem das apresentações foi decidida por sorteio
            realizado ao vivo:</p>
        <p>1 – <a href="http://www.fiap.com.br/2023/09/18/future-farm/" target="_blank" rel="noopener">Future Farm</a> –
            produção inteligente de alimentos orgânicos – como alface e tilápia –&nbsp; através da Aquaponia e da
            Ciência de Dados,&nbsp; que garante a qualidade do produto.</p>
        <p>2 – <a href="http://www.fiap.com.br/2023/09/18/b2mark/" target="_blank" rel="noopener">B2Mark</a> –auxilia o
            desenvolvimento de estratégias de comunicação mais ágeis e eficientes, transformando a maneira como as
            equipes de marketing mapeiam os dados e avaliam seus concorrentes.</p>
        <p>3 – <a href="http://www.fiap.com.br/2023/09/18/plenaidade/" target="_blank" rel="noopener">PlenaIdade</a> –
            plataforma em nuvem que oferece serviços de monitoramento e cuidado de pessoas idosas.</p>
        <p>4 – <a href="https://www.fiap.com.br/2023/09/18/vrumm/" target="_blank" rel="noopener">Vrumm</a> – sistema
            inteligente para auxiliar o caminhoneiro a abrir e a gerenciar seu negócio.</p>
        <p>5 – <a href="https://www.fiap.com.br/2023/09/18/devops-genius/" target="_blank" rel="noopener">DevOps Genius
            </a>– ferramenta para mapeamento do ciclo de vida das aplicações (através das APIs das ferramentas de
            desenvolvimento os dados são coletados e estruturados).</p>
        <p>6 – <a href="http://www.fiap.com.br/2023/09/18/viva-ai/" target="_blank" rel="noopener">Viva.AI</a> – oferece
            serviços como <i>chatbot</i> por meio do WhatsApp para gestão da saúde do idoso, além de um dashboard com
            relatório completo sobre a gestão da saúde física, mental e cognitiva do usuário.</p>
        <p>7 – <a href="http://www.fiap.com.br/2023/09/18/ohli/" target="_blank" rel="noopener">Ohli</a> – auxilia no
            gerenciamento do autocuidado e do bem-estar de colaboradores nas empresas, por meio do mapeamento da saúde
            integral com o auxílio de Inteligência Artificial.</p>
        <p>8 – <a href="http://www.fiap.com.br/2023/09/18/brandsecure/" target="_blank" rel="noopener">Brand Secure</a>:
            plataforma que protege e fortalece a presença de marcas no mundo digital, oferecendo solução para combater
            fraudes on-line.</p>
        <p>9 – <a href="https://www.fiap.com.br/2023/09/18/blacklist/" target="_blank" rel="noopener">Black List</a> –
            sistema que dá visibilidade às pessoas negras no mercado de trabalho, conectando alunos negros de
            instituições de ensino parceiras às oportunidades de trabalho das empresas cadastradas.</p>
        <p>10 – <a href="http://www.fiap.com.br/2023/09/18/timbre/" target="_blank" rel="noopener">Timbre</a> –
            plataforma que oferece um processo de recrutamento e seleção mais inclusivo, com o diferencial de utilização
            da voz como uma das possibilidades de declaração de competências do candidato.</p>
        <p>Pela alta qualidade de todos os planos de negócios apresentados, a Banca decidiu oferecer duas menções
            honrosas às startups: TIMBRE, de Lucas Petrin, Marco Santos, Renata Veríssimo e Yara Fortunatti – e Viva.AI,
            de Alexandre M., J. Vitor Neves, Luís Lima e Victor Rezende. Cada aluno recebeu uma bolsa de 100% em
            qualquer curso <a href="https://www.fiap.com.br/shift/" target="_blank" rel="noopener">Shift</a>.</p>
        <p>O time campeão foi o idealizador da B2MARK, uma startup inovadora que oferece uma solução de benchmark
            automatizado, com análise de audiência de podcast, satisfação e cultura organizacional, tecnologia e
            integração de websites dos concorrentes, por exemplo. Conta com relatórios automáticos, repositório de dados
            de benchmarks integrados com as ferramentas mais utilizadas pelos profissionais de marketing (Google Sheets,
            Canvas, Power BI). Os idealizadores da startup campeã foram Laura Napoles, Marina Hungria, Rafael Cardoso,
            Rodrigo Neves e Victor Martins, que conquistaram uma bolsa integral no <a
                href="https://www.babson.edu/academics/academic-divisions/entrepreneurship/" target="_blank"
                rel="noopener">Babson College (Boston, EUA)</a>.</p>
        <p><img class="size-full wp-image-84110 aligncenter"
                src="https://s3.amazonaws.com/wpfiap/wp-content/uploads/2023/09/B2Mark-campea2.png" alt="" width="730"
                height="368"
                srcset="https://s3.amazonaws.com/wpfiap/wp-content/uploads/2023/09/B2Mark-campea2.png 730w, https://s3.amazonaws.com/wpfiap/wp-content/uploads/2023/09/B2Mark-campea2-300x151.png 300w"
                sizes="(max-width: 730px) 100vw, 730px"></p>
    </div>
    <form action="/comentar" method="post">
        <textarea name="comentario" rows="4" cols="50"></textarea>
        <button type="submit">Comentar</button>
    </form>

    <div id="comentarios">
        {{ content|safe }}
    </div>
</body>

</html>